openapi: 3.1.0
info:
  title: Soveren Object Assets API
  version: v1
  description: 'The Soveren Object API exposes the data-security inventory Soveren discovers across your Kubernetes / cloud environment: clusters, assets (services and workloads), endpoints, detected data types, and the data flows between them, plus data-store inventories for S3, Kafka, and SQL databases. Read-only. Authenticate with a bearer token generated in the Soveren app under Integrations. This specification was reconstructed faithfully from Soveren''s published Object API reference (https://docs.soveren.io/en/stable/integration/api/ref/); response schemas are modeled as generic objects where the reference does not publish field-level detail.'
  x-apisjson-generated: '2026-07-21'
  x-apisjson-method: searched
  x-apisjson-source: https://docs.soveren.io/en/stable/integration/api/ref/
servers:
- url: https://api.soveren.io
  description: Soveren Object API production host
security:
- bearerAuth: []
tags:
- name: Assets
paths:
  /api/v1/clusters:
    get:
      operationId: get-clusters
      summary: List clusters
      description: Returns the Kubernetes clusters where Soveren sensors are deployed.
      tags:
      - Assets
      responses:
        '200':
          $ref: '#/components/responses/ObjectList'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/assets:
    get:
      operationId: get-assets
      summary: List assets
      description: Returns discovered assets (services and workloads), optionally filtered by cluster and namespace.
      tags:
      - Assets
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - name: cluster_id
        in: query
        schema:
          type: string
      - name: namespace
        in: query
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/ObjectList'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/assets/{id}:
    get:
      operationId: get-asset
      summary: Get an asset
      tags:
      - Assets
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          $ref: '#/components/responses/Object'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/assets/{id}/data-flows:
    get:
      operationId: get-asset-data-flows
      summary: List data flows for an asset
      description: Returns the data flows (senders/receivers and the data types moving between them) for a given asset.
      tags:
      - Assets
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          $ref: '#/components/responses/ObjectList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    Unauthorized:
      description: Missing or invalid bearer token.
    Object:
      description: A single object.
      content:
        application/json:
          schema:
            type: object
    NotFound:
      description: The requested object was not found.
    ObjectList:
      description: A paginated list of objects.
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  type: object
  parameters:
    offset:
      name: offset
      in: query
      description: Number of items to skip for pagination.
      schema:
        type: integer
    limit:
      name: limit
      in: query
      description: Maximum number of items to return.
      schema:
        type: integer
    id:
      name: id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token generated in the Soveren app under Integrations - External API.
